name: Build-and-deploy
on:
  push:

jobs:
  build-tag:
    runs-on: ubuntu-20.04
    steps:
    
    # Checking out latest koji-gh-action-git-version
    - name: Checkout Git Version
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: List Files After Checkout
      run: |
          pwd
          ls -la
          ls -a
    #- name: install git
    # run: |
    #    git init
    #   git remote add origin git@github.com:DaniaErnest/Anonymous.git
         
    - name: remote
      run: |
         git remote -v
         #git checkout -b main
         git branch --show-current
    - name: Configure git to trust the workspace despite the different owner
      run:
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        
    # Determining Version
    #- name: Determine Version
    #  id: my-tag
      #uses: ./.github/actions/koji-gh-action-git-gitversion
